$color-ruby-red: #891225;
$color-moderate-red: #9d3444;
$color-bg-block: #faf7f5;
$color-border-feature: #f8f3ee;
$font-futurapt: "Futura PT", "Arial", sans-serif;
$font-roboto: "Roboto", "Arial", sans-serif;
$font-open-sans: "Open Sans", "Arial", sans-serif
