.page-header {
  padding: 0;
  background-color: #ffffff;
}

.page-header__wrapper {
}

.page-header__logo {
  padding-top: 27px;
  padding-bottom: 24px;
  padding-left: 14px;
}

.page-header__contacts {
  padding-top: 15px;
  padding-left: 14px;
}
